body {
  background-color: gainsboro;
  color: black;
  margin: 5em 10em;
}
h1 {
  text-align: center;
  color: aliceblue;
  background-color: dimgray;
  padding: 1em;
  font-family: auto;
}

a {
  color: blue;
}

.comment__label {
  float: right;
}

.ui.checkbox {
  font-style: italic;
}

.ui.checkbox label {
  color: lightslategray;
}
